.my-room-title-wrap {
  padding-top: 110px;
}

.my-room-title {
  width: 100vw;
  height: 65px;
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: blue;
}

.my-room {
  display: flex;
}

.my-private-room {
  width: 50vw;
  background-color: lightcyan;
  border-right: solid black 1px;
}

.my-private-title {
  height: 55px;
  padding-top: 8px;
  display: block;
  text-align: center;
  font-size: 25px;
  background-color: lightblue;
}

.my-private-lists {
  height: 460px;
  margin-top: 10px;
  overflow: auto;
}

.my-private-new-btn {
  width: 70%;
  padding: 5px;
  margin: 5px auto 15px;
  display: block;
  background-color: white;
  border: solid 1px black;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.my-private-new-btn:hover {
  background-color: rgb(211, 211, 211);
}

.my-private-list {
  margin: 0 10px 10px 10px;
  background-color: white;
  border: solid gray 1px;
  a {
    text-decoration: none;
  }
}

.my-private-list:hover {
  background-color: rgb(211, 211, 211);
}

.my-open-room {
  width: 50vw;
  background-color: lightcyan;
  border-left: solid black 1px;
}

.my-open-title {
  height: 55px;
  padding-top: 8px;
  display: block;
  text-align: center;
  font-size: 25px;
  background-color: lightblue;
}

.my-open-lists {
  height: 460px;
  margin-top: 10px;
  overflow: auto;
}

.my-open-new-btn {
  width: 70%;
  padding: 5px;
  margin: 5px auto 15px;
  display: block;
  background-color: white;
  border: solid 1px black;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.my-open-new-btn:hover {
  background-color: rgb(211, 211, 211);
}

.my-open-list {
  margin: 0 10px 10px 10px;
  background-color: white;
  border: solid gray 1px;
  a {
    text-decoration: none;
  }
}

.my-open-list:hover {
  background-color: rgb(211, 211, 211);
}

.my-room-name {
  padding: 10px;
  margin: 2px 0 0 10px;
  font-size: 20px;
  color: black;
}

.my-room-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-room-member{
  color: black;
  margin: 0 0 5px 20px;
}

.my-room-at {
  color: black;
  margin: 0 20px 5px 0;
}

.my-member-icon {
  margin-right: 5px;
}