.room-name-wrap {
  padding: 15px;
}

.room-name-title {
  padding-left: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}

.room-name-main {
  padding: 12px 20px;
  background-color: rgb(253, 255, 235);
  font-size: 24px;
  font-weight: bold;
  white-space: pre-wrap;
}