.private-room-second-main {
  width: 100vw;
  height: calc(100vh - 70px);
  background-color: rgba(181, 232, 252, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 70px;
  display: none;
}

.private-room-second-wrap {
  width: 65vw;
  height: calc(100vh - 70px);
  background-color: rgb(252, 252, 130);
  overflow: auto;
}

.room-member-main {
  display: flex;
}

.add-member-title {
  padding: 3px 8px;
  margin-left: 8px;
  box-shadow: gray 1px 1px;
  border-radius: 4px;
  background-color: rgb(255, 115, 0);
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.add-member-title:hover {
  background-color: orange;
}

.add-member-title:active {
  box-shadow: none;
}

.private-room-edit {
  background-color: rgb(0, 102, 255);
  color: white;
}

.private-room-edit:hover {
  background-color: blue;
}

.private-room-edit:active {
  box-shadow: none;
}

.private-room-exit {
  background-color: rgb(253, 70, 70);
  color: white;
}
.private-room-exit:hover {
  background-color: red;
}

.private-room-exit:active {
  box-shadow: none;
}

.room-name-wrap {
  padding: 15px;
}

.room-name-title {
  padding-left: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}

.room-name-main {
  padding: 12px 20px;
  background-color: rgb(253, 255, 235);
  font-size: 24px;
  font-weight: bold;
  white-space: pre-wrap;
}

.private-room-third-main {
  width: 100vw;
  height: calc(100vh - 70px);
  background-color: rgb(181, 232, 252);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 70px;
  display: none;
}

.private-room-third-wrap {
  width: 65vw;
  height: calc(100vh - 70px);
  background-color: rgb(252, 252, 130);
  overflow: auto;
}

.add-member-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-member-form-title {
  padding-top: 15px;
  font-size: 30px;
  font-weight: bold;
}

.private-add-member-box {
  width: 70%;
  height: 465px;
  margin-top: 15px;
  background-color: rgb(222, 255, 190);
  overflow: auto;
  display: flex;
  flex-direction: column;
  input {
    width: 17px;
    height: 17px;
    margin-right: 8px;
    cursor: pointer;
  }
  label {
    padding: 5px 10px;
    font-size: 25px;
    color: black;
    cursor: pointer;
  }
}

.private-add-submit-btn {
  width: 45%;
  margin-top: 20px;
  background: rgb(0, 162, 255);
  border: 1px solid rgb(0, 162, 255);
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}