.unfollow-btn {
  width: 180px;
  margin: 0 15px 20px 0;
  display: block;
  background: rgb(255, 77, 107);
  box-shadow: gray 2px 2px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 46px;
  font-size: 23px;
  cursor: pointer;
}

.unfollow-btn:hover {
  background-color: red;
}

.unfollow-btn:active {
  box-shadow: none;
}

.follow-reverse {
  width: 180px;
  margin: 0 15px 20px 0;
  display: none;
  background: rgb(0, 162, 255);
  box-shadow: gray 2px 2px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 46px;
  font-size: 23px;
  cursor: pointer;
}

.follow-reverse:hover {
  background-color: blue;
}

.follow-reverse:active {
  box-shadow: none;
}

.follow-btn {
  width: 180px;
  margin: 0 15px 20px 0;
  display: block;
  background: rgb(0, 162, 255);
  box-shadow: gray 2px 2px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 46px;
  font-size: 23px;
  cursor: pointer;
}

.follow-btn:hover {
  background-color: blue;
}

.follow-btn:active {
  box-shadow: none;
}

.unfollow-reverse {
  width: 180px;
  margin: 0 15px 20px 0;
  display: none;
  background: rgb(255, 77, 107);
  box-shadow: gray 2px 2px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 46px;
  font-size: 23px;
  cursor: pointer;
}

.unfollow-reverse:hover {
  background-color: red;
}

.unfollow-reverse:active {
  box-shadow: none;
}
