.unfollow-btn {
  width: 200px;
  margin: 0 15px 20px 0;
  display: block;
  background: rgb(0, 162, 255);
  border: solid rgb(0, 162, 255) 1px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  line-height: 48px;
  font-size: 23px;
  cursor: pointer;
}

.follow-btn {
  width: 180px;
  margin: 0 15px 20px 0;
  display: block;
  background: rgb(0, 162, 255);
  border: solid rgb(0, 162, 255) 1px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  line-height: 46px;
  font-size: 23px;
  cursor: pointer;
}