footer {
  height: 60px;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-content {
  position: relative;
  padding: 10px;
  margin-right: 140px;
}

.footer-content img {
  height: 40px;
}

.footer-content span {
  font-weight: bold;
  font-family: 'Bangers', cursive;
  color: white;
  position: absolute;
  top: 6px;
  line-height: 50px;
  font-size: 30px;
}