<div class="second-footer">
  <div class="second-footer-logo">
    <%= link_to root_path do %>
      <%= image_tag("fan-room-logo.png", width: "55", height: "60") %>
      <span>FanRoom</span>
    <% end %>
  </div>
</div>