.session-form-wrap {
  width: 60%;
  height: 80vh;
  background-color: white;
  padding-bottom: 30px;
}

.login-btn {
  width: 50%;
  margin: 50px auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: rgb(0, 162, 255);
  border: 1px solid rgb(0, 162, 255);
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  margin-bottom: 5px;
  font-size: 18px;
  text-align: center;
  list-style: circle;
  color: rgb(228, 27, 0);
}